<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            Total Cases : {{ result.data.summary.total }} <br>
            Confirmed Cases (Indian) : {{ result.data.summary.confirmedCasesIndian }} <br>
            Confirmed Cases (Foreign) : {{ result.data.summary.confirmedCasesForeign }} <br>
            Discharged : {{ result.data.summary.discharged }} <br>
            Deaths : {{ result.data.summary.deaths }} <br>

            <div class="alert alert-primary text-center h5 mt-5">
                Region Wise Distribution
            </div>
            <h5>
                <small class="text-muted">Last Refreshed : {{ result.lastRefreshed | date :'medium' }}</small>
            </h5>
            <div>
                <table class="table table-sm table-striped table-fixed table-borderless table-hover" cellpadding="2" style="max-height: 600px;">
                    <thead>
                        <tr>
                            <th scope="col">Location</th>
                            <th scope="col">Cases (Indian)</th>
                            <th scope="col">Cases (Foreign)</th>
                            <th scope="col">Discharged</th>
                            <th scope="col">Deaths</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of result.data.regional">
                            <th scope="row">{{ row.loc }}</th>
                            <td>{{ row.confirmedCasesIndian }}</td>
                            <td>{{ row.confirmedCasesForeign }}</td>
                            <td>{{ row.discharged }}</td>
                            <td>{{ row.deaths }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6 padding">
            <app-chart></app-chart>
            <div class="alert alert-primary text-center h5 mt-4">
                Confired Cases Trends
            </div>
            <app-history></app-history>

            <div class="alert alert-danger text-center h5 mt-4">
                Death Trend
            </div>
            <app-deaths-trend></app-deaths-trend>

            <div class="alert alert-warning text-center h5 mt-4">
                Discharge Trend
            </div>
            <app-discharged-trend></app-discharged-trend>  
        </div>
    </div>
</div>
